# ROS 2
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
.env

# PlatformIO
.pio/
.vscode/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Editor Backups & Patch Files
*~
*.bak
*.orig
*.rej
